<html lang="en" class="bg-white dark:bg-black"><head>
<!-- MOST META TAGS -->
<link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS AND JS -->
<link href="//www.wgyt.tk/css/tailwind.css" rel="stylesheet"></head>

<body>
  <!-- HEADER -->
<!-- NAVBAR -->
<nav class="bg-red-900 p-2 mt-0 sticky w-full z-10 top-0 overflow-x-auto" id="top">
	<div class="container mx-auto flex flex-wrap items-center">
		<div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-bold"><a href="/" class="text-white no-underline hover:text-white hover:no-underline font-bold nuxt-link-active"><span class="text-2xl">Wgytcraft docs</span></a>
			</div>
		</div>
	</nav>
  <!-- ARTICLE -->
  <div class="bg-gray-200">
  <article class="prose prose-red mx-auto bg-white text-red">
	<%- html %>
  </article>
  </div>
	<!-- FOOTER -->
<!-- FOOTER -->

<footer class="bg-blue-900" id="bottom">
	<div class="pt-2">
		<div class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-500 text-white text-sm flex-col md:flex-row max-w-6xl">
			<div class="mt-2">© Copyright 2021 William Horning. All Rights Reserved.</div>
		</div>
	</div>
</footer>
<!-- Cloudflare Web Analytics --><script defer="" src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon="{&quot;token&quot;: &quot;fece00312c024f979c888667fa0bb584&quot;}"></script><!-- End Cloudflare Web Analytics -->
</body></html>